doctype html
html(lang='en')
 head
   title Código de Verificación OTP
 body
   p ¡Hola #{name}! Este es tu código OTP para verificar tu correo electrónico: 
   h2 #{otp} 
   p El código OTP será válido durante #{time} #{unit} así que apresúrate.